[submodule "libraries/box2d"]
	path = libraries/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/entt"]
	path = libraries/entt
	url = https://github.com/skypjack/entt.git
; [submodule "libraries/glad"]
; 	path = libraries/glad
; 	url = https://github.com/Dav1dde/glad.git
; [submodule "libraries/glfw"]
; 	path = libraries/glfw
; 	url = https://github.com/glfw/glfw.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libraries/msdfgen"]
	path = libraries/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "libraries/SDL"]
	path = libraries/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libraries/sol2"]
	path = libraries/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "libraries/spdlog"]
	path = libraries/spdlog
	url = https://github.com/gabime/spdlog.git
